.container.card.p-a-1
	.card-block
		h4.card-title Draw image

		form.form-inline
			.form-group
				label Color:
				input(type='color', '[(ngModel)]'='color', name='color')
			.form-group
				label Stroke Width:
				input(type='range', min=1, max=100, '[(ngModel)]'='strokeWidth', name='strokeWidth')

			canvas(
				'#canvasRef'='',
				'[width]'='canvasRef.offsetWidth',
				'[height]'='canvasRef.offsetHeight',
				'(mousedown)'='drawing = true; draw($event, true)',
				'(mouseleave)'='drawing = false',
				'(mouseup)'='drawing = false',
				'(mousemove)'='draw($event)',
				'(dragstart)'='$event.preventDefault()'
			)

			.row.m-y-1
				.col-md-4
					button.btn.btn-primary.btn-block(type='button', '(click)'='add()') add image
				.col-md-4
					button.btn.btn-danger.btn-block(type='button', '(click)'='clear()') clear canvas
				.col-md-4
					a.btn.btn-warning.btn-block([routerLink]="['', { outlets: { aux: null } }]") close drawer
