nav.nav
	.row.p-a-1.text-xs-center
		.btn-group
			a.btn.btn-primary([routerLink]="[{ outlets: { 'aux': ['upload'] } }]") add image
			a.btn.btn-primary([routerLink]="[{ outlets: { 'aux': ['draw'] } }]") draw image
			a.btn.btn-primary(href='#') select from catalog
			a.btn.btn-primary(href='#') add Text

canvas-cmp
