nav.nav
	.row.p-a-1.text-xs-center
		.btn-group
			a.btn.btn-primary([routerLink]="[{ outlets: { 'aux': ['upload'] } }]") add image
			a.btn.btn-primary([routerLink]="[{ outlets: { 'aux': ['draw'] } }]") draw image
		.btn-group
			a.btn.btn-primary([routerLink]="[{ outlets: { 'aux': ['compose'] } }]", '[class.disabled]'='!layerService.layers.length') download image

canvas-cmp
