.container.card.p-a-1
	.card-block
		h4.card-title Add local image

		form
			.form-group
				input.form-control(type='file', '(change)'='handleFileSelect($event)', accept='.jpg,.png')
				p.form-text.text-muted You can use only jpg or png images.
			.row
				a.btn.btn-warning.btn-block([routerLink]="['', { outlets: { aux: null } }]") Close upload
