.container.card.p-a-1
	.card-block
		h4.card-title add image

		.uploader-error('[ngSwitch]'='error')
			.alert.alert-gander('*ngSwitchCase'='"network"') Sorry, there was an error while loading this image.

		.alert.alert-info('*ngIf'='loading') loading...

		.alert.alert-danger('*ngIf'='layerService.isAtLimit') you cannot add more images...

		form('[hidden]'='loading || layerService.isAtLimit')
			.form-group
				label from your computer:
				input.form-control(type='file', '(change)'='handleFileSelect($event)', accept='.jpg,.png')

			.form-group
				label from internets:
				.row
					.col-xs-9
						input.form-control(type='url', '(change)'='handleRemoteUrl($event)', '(paste)'='handleRemoteUrlPaste($event)')
					.col-xs-3
						button.btn.btn-block.btn-secondary(type='button') upload
			p.form-text.text-muted you can use only jpg or png images.

			.form-group
				label from gallery:
				.row.gallery-row
					img.m-x-1('*ngFor'='let image of images', '[src]'='imagesPath + image', '(click)'='handleGalleryUrl(imagesPath + image)')

		.row
			a.btn.btn-warning.btn-block([routerLink]="['', { outlets: { aux: null } }]") close upload
