.container.card.p-a-1
	.card-block
		h4.card-title Add local image

		form
			.form-group
				input.form-control(type='file', '(change)'='handleFileSelect($event)', accept='.jpg,.png')
				p.form-text.text-muted You can use only jpg or png images.
			.row
				.col-md-3.offset-md-9
					a.btn.btn-info.btn-block([routerLink]="['', { outlets: { aux: undefined } }]") Close upload
