.base-wrapper(
		'[style.height.px]'='base.height',
		'[style.width.px]'='base.width'
	)

	img.fn-deactivate(
		'#image'='',
		'[src]'='base.src',
		'(dragstart)'='$event.preventDefault()',
		'(click)'='layerService.setActive(null)'
	)

	.base-canvas(
		'[style.height.px]'='base.canvasHeight',
		'[style.width.px]'='base.canvasWidth',
		'[style.top.px]'='base.canvasY',
		'[style.left.px]'='base.canvasX',
		'(click)'='layerService.setActive(null)'
	)
		ng-content
