.base-wrapper

	img(
		'#image'='',
		'[src]'='base.src',
		'(dragstart)'='$event.preventDefault()',
		'(click)'='outsideClickBeacon.emit()'
	)

	.base-canvas(
		'[style.height.px]'='base.canvasHeight * coefficient',
		'[style.width.px]'='base.canvasWidth * coefficient',
		'[style.top.px]'='base.canvasY * coefficient',
		'[style.left.px]'='base.canvasX * coefficient',
		'(click)'='$event.target === $event.currentTarget ? outsideClickBeacon.emit() : null'
	)
		ng-content(select='layer-cmp')
