.base-controls
	.tag.tag-primary('*ngIf'='active') base: {{active.name}}
	.tag.tag-warning.base-changer(
		'*ngIf'='!changing',
		'(click)'='changing = true'
	) change
	.tag.tag-danger.base-changer(
		'*ngIf'='changing',
		'(click)'='changing = false'
	) hide

.base-items('*ngIf'='changing')
	.base-item(
		'*ngFor'='let base of bases',
		'[class.active]'='base === active',
		'(click)'='activateBeacon.emit(base); changing = false',
		'[style.background-image]'='"url(" + base.src + ")"'
	)
		.base-title.text-xs-center
			.tag.tag-primary {{base.name}}
