base-selector-cmp(
	'[bases]'='bases',
	'[active]'='baseService.active',
	'(activateBeacon)'='baseService.active = $event'
)

layer-selector-cmp(
	'[layers]'='layers',
	'[active]'='layerService.active',
	'(activateBeacon)'='layerService.active = $event',
	'(resetBeacon)'='layerService.reset($event)'
	'(removeBeacon)'='layerService.remove($event)',
	'(frontBeacon)'='layerService.position($event)',
	'(upBeacon)'='layerService.position($event, 1)',
	'(downBeacon)'='layerService.position($event, -1)',
	'(backBeacon)'='layerService.position($event, 0)'
)

base-cmp(
	'*ngIf'='baseService.active',
	'[base]'='baseService.active',
	'(outsideClickBeacon)'='layerService.active = null',
	'(coefficientBeacon)'='this.baseService.coefficient = $event',
	'(mousemove)'='handleMouseMove($event)',
	'(mouseup)'='clearFlags()'
)
	layer-cmp(
		'*ngFor'='let layer of layers',
		'[layer]'='layer',
		'[coefficient]'='baseService.coefficient',
		'[active]'='layerService.active === layer',
		'(mousedown)'='layerService.active = layer',
		'(resizeBeacon)'='resizing = $event',
		'(dragBeacon)'='dragging = $event',
		'(rotateBeacon)'='rotating = $event'
	)

