base-selector-cmp(
	'[bases]'='bases',
	'[active]'='baseService.active',
	'(activateBeacon)'='baseService.active = $event'
)

layer-selector-cmp(
	'[layers]'='layers',
	'[active]'='layerService.active',
	'(activateBeacon)'='layerService.active = $event',
	'(resetBeacon)'='layerService.reset($event)'
	'(removeBeacon)'='layerService.remove($event)'
)

base-cmp(
	'*ngIf'='baseService.active',
	'[base]'='baseService.active',
	'(outsideClickBeacon)'='layerService.active = null'
	'(mousemove)'='transform($event)',
	'(mouseup)'='clearFlags()'
)
	layer-cmp(
		'*ngFor'='let layer of layers',
		'[layer]'='layer',
		'[coefficient]'='baseService.coefficient',
		'(resizeBeacon)'='resizing = $event',
		'(dragBeacon)'='dragging = $event',
		'(rotateBeacon)'='rotating = $event'
	)

