.layer-controls.text-xs-right
	.tag.tag-info.layer-shower(
		'*ngIf'='!showing',
		'(click)'='showing = true'
	) show layers
	.tag.tag-danger.layer-shower(
		'*ngIf'='showing',
		'(click)'='showing = false'
	) hide layers

	.tag(
		'[class.tag-info]'='layers.length < maxLayers * 0.75',
		'[class.tag-warning]'='layers.length >= maxLayers * 0.75 && layers.length < maxLayers * 0.9',
		'[class.tag-danger]'='layers.length >= maxLayers * 0.9',
	) {{layers.length}} / {{maxLayers}}

.layer-items.m-t-1('*ngIf'='showing')
	.media.layer-item.p-a-1('*ngIf'='!layers.length') no layers added

	.media.layer-item.p-a-1(
		'*ngFor'='let layer of layers.reverse()'
	)
		.media-left
			.media-object.layer-image(
				'[style.background-image]'='transform(layer.src)',
				'(click)'='activateBeacon.emit(layer)'
			)
		.media-body
			.btn-group.btn-block.btn-group-sm
				button.btn.btn-secondary('(click)'='frontBeacon.emit(layer)') front
				button.btn.btn-secondary('(click)'='upBeacon.emit(layer)') up
				button.btn.btn-secondary('(click)'='downBeacon.emit(layer)') down
				button.btn.btn-secondary('(click)'='backBeacon.emit(layer)') back
			.btn-group.btn-block.btn-group-sm
				button.btn.btn-primary('*ngIf'='active !== layer', '(click)'='activateBeacon.emit(layer)') activate
				button.btn.btn-info('*ngIf'='active === layer', '(click)'='activateBeacon.emit(null)') deactivate
				button.btn.btn-warning('(click)'='resetBeacon.emit(layer)') reset
				button.btn.btn-danger('(click)'='removeBeacon.emit(layer)') remove

	.alert.alert-info.layer-hint.text-xs-center.m-t-1('*ngIf'='layers.length')
		| you can move actived layer with arrow keys
		br
		| (with shift you can move even faster)
