:host {
	position: absolute;
	width: 100%;
	z-index: 5;

	top: 1rem;
}

.gallery-row {
	//overflow-x: auto;
	height: 10em;

	img {
		height: 100%;
		border: 1px solid rgba(0, 0, 0, .5);
		cursor: pointer;

		&:hover {
			box-shadow: 1px 1px 2em rgba(0, 0, 0, .5);
		}
	}
}
