:host {
	display: block;
}

.layer-wrapper {
	position: absolute;
	user-select: none;
	cursor: move;

	&.selected {
		outline: 1px dashed #000;
	}

	img {
		width: 100%;
		height: 100%;
	}
}

/*
 * Transform controls
 */
$control-size = 20px
$control-half-size = 10px

.control-tool {
	width: $control-size;
	height: $control-size;
	background: rgba(0, 0, 0, .5);
	border-radius: 50%;
	position: absolute;
	border: 1px solid #fff;
}

.control-rotate {
	top: 10%;
	left: 'calc(50% - %s)' % $control-half-size;
}

.control-resize_top-left {
	top: - $control-half-size;
	left: - $control-half-size;
}

.control-resize_top-right {
	top: - $control-half-size;
	right: - $control-half-size;
}

.control-resize_middle-top {
	top: - $control-half-size;
	left: 'calc(50% - %s)' % $control-half-size;
}

.control-resize_middle-left {
	top: 'calc(50% - %s)' % $control-half-size;
	left: - $control-half-size;
}

.control-resize_middle-right {
	top: 'calc(50% - %s)' % $control-half-size;
	right: - $control-half-size;
}

.control-resize_middle-bottom {
	bottom: - $control-half-size;
	left: 'calc(50% - %s)' % $control-half-size;
}

.control-resize_bottom-left {
	bottom: - $control-half-size;
	left: - $control-half-size;
}

.control-resize_bottom-right {
	bottom: - $control-half-size;
	right: - $control-half-size;
}
/* --- */
