:host {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 2;
	max-width: 20em;
	user-select: none;
}

.layer-shower {
	cursor: pointer;
}

.layer-item {
	background: #fff;
	border-radius: 0.25em;
}

.layer-image {
	cursor: pointer;

	background-position: 50%;
	background-size: cover;
	width: 3em;
	height: 3em;
}

