:host {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 2;
}

.layer-item {
	cursor: pointer;
	position: relative;
	display: inline-block;
	user-select: none;
	width: 5em;
	height: 5em;
	background-size: cover;
}
